@inject IJSRuntime JS
@implements IAsyncDisposable

<div class="parallax" @ref="_parallaxRef">
    <section class="parallax__header">
        <div class="parallax__visuals">
            <div class="parallax__black-line-overflow"></div>
            <div data-parallax-layers class="parallax__layers">
                <img src="https://images.unsplash.com/photo-1576091160550-2173dba999ef?w=1200&q=80"
                     loading="eager" width="1200" data-parallax-layer="1" alt="Medical technology" class="parallax__layer-img" />
                <img src="https://images.unsplash.com/photo-1551190822-a9ce113ac100?w=1200&q=80"
                     loading="eager" width="1200" data-parallax-layer="2" alt="Healthcare professionals" class="parallax__layer-img" />
                <div data-parallax-layer="3" class="parallax__layer-title">
                    <h2 class="parallax__title">PDD</h2>
                </div>
                <img src="https://images.unsplash.com/photo-1579684385127-1ef15d508118?w=1200&q=80"
                     loading="eager" width="1200" data-parallax-layer="4" alt="Medical equipment" class="parallax__layer-img" />
            </div>
            <div class="parallax__fade"></div>
        </div>
    </section>
    <section class="parallax__content">
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 160 160" fill="none" class="osmo-icon-svg">
            <path d="M94.8284 53.8578C92.3086 56.3776 88 54.593 88 51.0294V0H72V59.9999C72 66.6273 66.6274 71.9999 60 71.9999H0V87.9999H51.0294C54.5931 87.9999 56.3777 92.3085 53.8579 94.8283L18.3431 130.343L29.6569 141.657L65.1717 106.142C67.684 103.63 71.9745 105.396 72 108.939V160L88.0001 160L88 99.9999C88 93.3725 93.3726 87.9999 100 87.9999H160V71.9999H108.939C105.407 71.9745 103.64 67.7091 106.12 65.1938L106.142 65.1716L141.657 29.6568L130.343 18.3432L94.8284 53.8578Z" fill="currentColor"></path>
        </svg>
    </section>
</div>

@code {
    private ElementReference _parallaxRef;
    private DotNetObjectReference<ParallaxScrolling>? _dotNetRef;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _dotNetRef = DotNetObjectReference.Create(this);
            try
            {
                await JS.InvokeVoidAsync("initParallaxScroll", _dotNetRef);
            }
            catch { }
        }
    }

    [JSInvokable]
    public Task OnScrollUpdate()
    {
        return Task.CompletedTask;
    }

    public async ValueTask DisposeAsync()
    {
        _dotNetRef?.Dispose();
        try
        {
            await JS.InvokeVoidAsync("disposeParallaxScroll");
        }
        catch { }
    }
}
